.question-card-container 
{
  background-color: #eeebeb;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 20%;
  transition: transform 0.3s ease;
  max-width: 600px;
  margin-top: 50px;
  
}

.question-container {
  margin-top: 20px;
}

.question-text {
  margin-bottom: 10px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 5px;
}

.submit-button {
  margin-top: 20px;
}
