.studentquizList
{
    display: flex;
    
}
.quizcards
{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr ;
}
.studentquizData
{
    background-color: #eeebeb;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
